$primary-color: #4A3100;
$pink: #EC778F;
$yellow: #F4C748;



* {
    margin: 0;
    padding: 0;
    color: #4A3100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 微軟正黑體
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primary-color;
    font-size: 20px;
}

.btn-primary{
    display: block;
    background-color: #EC778F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 0px;
    margin-bottom: 10px;
    text-align: center;
}

.btn-secondary{
    display: block;
    background-color: $yellow;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 0px;
    margin-bottom: 10px;
    text-align: center;
}

.btn-white{
    display: block;
    background-color: #fafafa;
    border: 0.3px solid $primary-color;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
}

img {
    vertical-align: top;
}

body {
    margin: 0;
    background-image: url(/public/images/white_wall.png);
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
    justify-content: right;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.img-fluid {
    width: 100%;
}

.container {
    margin: auto;
    width: 80%;
    max-width: 1140px;
}

.text-center {
    text-align: center;
}

//====================================
//=============FORM===================
//===========input相關=================
//====================================
.form{
    // background-color: pink;
    margin-bottom: 80px;
    margin-top: 50px;
}
.input-group{
    display: flex;
    margin-bottom: 20px;
}
.input-group>p{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: x-small;
    color: rgb(125, 125, 125);
    border-top: 1px solid rgb(206, 206, 206);
    letter-spacing: 1px;
    padding-top: 5px;
}


.input-group h3{
    font-size: x-small;
    color: rgb(125, 125, 125);
}

input.btn-primary{
    letter-spacing: 5px;
}

input.btn-secondary{
    letter-spacing: 5px;
}

.forget-id>p{
    font-size: 15px;
    text-align:right;
    cursor: pointer;
    color: #544a36;
}

.forget-id>p:hover{
    color: black;
}

label{
    display: block;
    width: 20%;
    font-size: 20px;
    letter-spacing: 0.3em;
}
input{
    border: none;
    border-radius: 4px;
    border: 1px solid gray;
    line-height: 30px;
}

input[type="text"] {
    width: 80%
}

input[type="checkbox"]{
    margin-right: 6px;
}

input[type="submit"]{
    font-size: 18px;
}

input[type="submit"]:hover {
    opacity: 0.9;
}

input[type="radio"]{
    margin-left: 20px;
    margin-right: 5px;
}

input.radio-first{
    margin-left: 0px;
}

.input-group>span{
    color: chocolate;
    cursor: pointer;
}

.input-group>span:hover{
    border-bottom: 1px solid chocolate;
}

// .input-contact>label{
//     letter-spacing: 0px;
// }

.flex-space-between{
    justify-content: space-between;
}
.w-48{
    width: 48%;
}

.w-50{
    width: 50%;
}

.w-30{
    width: 30%;
}

.snslogin{
    margin: 5px;
}

.btn-snslogin{
    background-color: #fafafa;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.5px 1.5px 2px;
}

.login-brand{
    // background-color: rgb(110, 82, 46);
    width: 30px;
}

//======form/input end=============
//==============================


//===========colum start==============
@for $i from 1 through 12 {
    .col-#{$i} {
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 10px);
        margin: 10px 5px 10px 5px;
    }
}
// column-預設手機排版 END
@media(min-width:768px) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 40px);
            margin: 10px 20px 10px 20px;
        }
    }
}
//column 大於768 END 
@media(min-width:1200px) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 40px);
            margin: 10px 20px 10px 20px;
        }
    }
}
//column 大於1200 END 

//=========================左邊界位移
@media (min-width:768px){
    @for $i from 1 through 12 {
        .offset-md-#{$i}{
            --ml-num: calc(12 / #{$i});
            margin-left: calc(100% / var(--ml-num));
        }
    }
} //ml 768 end

@media (min-width:768px){
.col-md-6-center-login{
    width: calc(100% / 2 - 80px);
    margin: auto;
    min-width: 280px;
    max-width: 400px;
    }
.col-md-6-center-contact{
    width: calc(100% / 2 - 20px);
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    }
}

//==========Column END===========

//=========內容小裝置 start===================================
//=========HEADER SM start
.header-logo {display: none;}

.header-height{
    height: 50px;
}

h1.smheader{
    display: block;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 90%;
    background-color: $primary-color;
    text-align: center;
}

h1.smheader>a>span{
    color: white;
    line-height: 50px;
    font-size: 20px;
}

h1.smheader>a>img{
    height: 30px;
    padding: 10px 5px;
}

.mdheader {
    display: none;
}

#banner {
    margin-top: 50px;
    margin-bottom: 20px;
}

nav {
    display: none;
}

nav.active {
    display: block;
    left: 0px;
    top: 60px;
}

.nav-home {
    display: none;
}

.icon-menu {
    display: block;
}

nav>ul {
    // display: flex;
    // flex-wrap: wrap;
    display: block;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 50px;
    right: 0px;
    // padding: 0px 40px;
    z-index: 200;
    background-color: #544a36;
    // border-radius: 8px;
    // display: none;
}

nav>ul>li {
    display: block;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.546);
}

nav>ul>li:last-child {
    border-bottom: none
}

nav>ul>li>a {
    display: block;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    letter-spacing: 0.1em;
}

nav>ul>li>a:hover {
    color: $yellow;
}

.icon-menu {
    display: block;
    box-sizing: border-box;
    position: fixed;
    z-index: 201;
    top: 0px;
    right: 0px;
    background-color: #4A3100;
    color: white;
    width: 10%;
    text-align: center;
}

.icon-menu img {
    display: block;
    width: 40%;
    margin: auto;
    height: 50px;
}


.container h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 24px;
    font-weight: 900;
}

.title-line {
    // display: flex;
    // justify-content: center;
    display: block;
    width: 45%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}


.shop-img {
    margin-bottom: 20px;
}

.home-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home-content>.home-content-inner {
    width: 100%;
    align-self: center;
}

.home-content-inner>h3 {
    border-bottom: 2px solid #F4C748;
}








// //////////////////////////////////////////////////////

//======小裝置 HOME首頁地圖相關

.map-icons {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.map-icons>a {
    margin-left: 30px;
    margin-right: 30px;
    width: 10%;
    max-width:45px;
}

.map>.container>.map-description>h4 {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}

.home-time {
    // display: block;
    width: 60%;
    max-width: 280px;
    margin-top: 30px;
    margin-bottom: 30px;
}



//======================小裝置內頁 start=================//


//===================麵包屑 start=====================
.breadcrumb {
    margin-top: 10px;
    // display: block;
    color: gray;
    letter-spacing: 4px;
    width: 100%;
}

.breadcrumb-first {
    padding-left: 20px;
}

.breadcrumb>span {
padding-left: 5px;
}

.breadcrumb>a {
    color: gray;
    font-size: 16px;
    margin: 10px 0px;
    letter-spacing: 1px;
}

.breadcrumb>a:hover {
    color: $primary-color;
}

.breadcrumb>a.breadcrumb.active {
    color: $primary-color;
}

//============麵包屑end===========//
//============內頁 start ===========

.title-line-innerpage{
    display: block;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}










//===================================
////中~大裝置========================

@media(min-width:768px) {


    h1.smheader {
        display: none;
    }

    .mdheader {
        display: block;
        height: 100vh;
    }

    //
    //============HOME首頁HEADER==============
    //

    .index-line-left {
        position: absolute;
        top: 0%;
        width: 30%;
        z-index: 1;
        transform:  .3s;
        animation: AN01 2s
    }

    .index-line-right {
        position: absolute;
        bottom: 0%;
        right: 0;
        width: 30%;
        z-index: 1;
        animation: AN02 3.5s
    }

    @keyframes AN01 {
        0% {
            opacity: 0.3;
            transform: translate(-10px, -10px)
        }

        100% {
            opacity: 1;
            transform: translate(0px, 0) scale(1, 1);
        }
    }

    @keyframes AN02 {
        0% {
            opacity: 0;
            transform:  translate(30px, 20px) scale(0.9);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0) scale(1, 1);
        }
    }

    @keyframes AN03 {
        0% {
            opacity: 0;
            transform:  translate(10px,-10px) rotate(-3deg);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0) scale(1, 1);
        }
    }

    @keyframes ANfadein {
        0% {
            opacity: 0;}

        40%{
            opacity: 0;
            transform:  translate(0px,-10px) ;
        }

        100% {
            opacity: 1;
        }
    }


    
    .index-bg {
        display: none;
    }
    
    header>.row {
        position: relative;
        background-image: url(/public/images/home-Vector01.png);
        background-size: 100%;
        padding-bottom: 45%;
    }

    .index-text {
        position: absolute;
        top: 30%;
        right: 20%;
        width: 20%;
        z-index: 10;
        animation: ANfadein 3s;
    }

    .index-logo {
        position: absolute;
        bottom: 8%;
        left: 15%;
        width: 25%;
        animation: AN03 1s
    }



    header>.row {
        position: relative;
        background-image: none;
        height: 100vh;
        padding: 0;
    }

    .index-bg {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    .icon-menu {
        display: none;
    }

    header>.icon-menu-home {
        display: block;
    }

    header>.nav-home>ul {
        display: flex;
        flex-wrap: wrap;
        width: 610px;
        height: 50px;
        position: fixed;
        top: 30px;
        right: 50px;
        padding: 0px 40px;
        z-index: 200;
        background-color: rgba($primary-color, 0.8);
        border-radius: 8px;
        // display: none;
    }

    .nav-home>ul>li {
        border-bottom: none
    }

    .nav-home>ul>li>a {
        display: inline-block;
        width: 80%;
        margin: 0px 20px;
        color: white;
        text-align: center;
        line-height: 50px;
        border-bottom: none;
    }

    .nav-home>ul>li>a:hover {
        color: $yellow;
        opacity: 1;
        border-bottom: 2px solid $yellow;
    }

    .icon-menu-home {
        display: block;
        box-sizing: border-box;
        position: fixed;
        top: 30px;
        right: 30px;
        background-color: #4A3100;
        color: white;
        width: 50px;
        text-align: center;
        border-radius: 5px;
    }

    #banner{
        margin-top: 0;
    }

    //==================分頁HEADER+NAV=====================
    /// 
        
    header{
        box-shadow: 0px 0px 1px 0px rgb(188, 188, 188);
    }
    header.inner-page {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .header-logo{
        display: block;
        width: 20%;
    }

    nav.nav-inner-page{display: block;}

    header>.container>.header-logo img {
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 10px;
        width: 100%;
    }


    body>header>.container>nav.nav-inner-page>ul {
        display: flex;
        position: absolute;
        justify-content: end;
        bottom: 0;
        right: 10%;
        top: auto;
        width: 75%;
        background-color: rgba(255, 255, 255, 0);
    }

    body>header>.container>nav.nav-inner-page>ul>li {
        border: none;
        text-align: right;
        padding-left: 30px;
    }

    body>header>.container>nav.nav-inner-page>ul a {
        display: inline;
        color: #4A3100;
    }

    body>header>.container>nav.nav-inner-page>ul a:hover {
        color: #EC778F;
        font-weight: 600;
    }




    //=======中~大裝置分頁HEADER end

    //=======中~大裝置分頁內容 Start
    
    //麵包屑breadcrumb

    



    //=======中~大裝置分頁內容 end


    //========中~大裝置HOME 首頁內容=========

    .container>h2 {
        font-size: 36px;
    }

    .title-line {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        margin-bottom: 10px;
    }


    .home-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .home-content>.home-content-inner {
        width: 100%;
        align-self: center;
    }

    .home-content-inner>h3 {
        font-size: 28px;
        padding-bottom: 5px;
        border-bottom: 2px solid #F4C748;
        margin-bottom: 5px;
    }

    
    .home-content-inner>p {
        font-size: 20px;
        line-height: 30px;
    }

    .home-round-img img{
        box-sizing: border-box;
        padding: 10px;
    }

    .map>.container>.map-description>h4 {
        font-size: 22px;
        line-height: 40px;
        font-weight: normal;
    }
    
}

@media(min-width:768px) {
    .order-md-1 {
        order: -1;
        text-align: right;
    }
}
////////////////////////////////////
/// ////////////////////////////////
/// 768以上 end


////////////////
////
//// FOOTER SM
////
///

footer {
    box-sizing: border-box;
    background-color: #4A3100;
    color: white;
    padding-top: 3%;
    padding-bottom: 1%;
}

footer>.container>.row>.col-12 {
    margin-bottom: 0;
    margin-top: 0;
}

.footer-logo {
    width: 35%;
    margin-bottom: 1%;
}

.social-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid white;
}

.social-icon>a {
    // display: inline-block;
    width: 6%;
    margin: 1%;
}

footer>.container>.row>div {
    align-self: baseline;
}

footer>.container>.row>div>p {
    color: white;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
}

footer>.container>.row>div>.copyright {
    font-size: 10px;
    color: #fafafaaf;
}

.copyright-md {
    display: none;
}

.copyright-sm {
    display: block;
}

.footer-phone-add-md {
    display: none
}

.footer-phone-add-sm {
    display: block;
}

//FOOTER MD LG 
@media(min-width:768px) {
    .footer-logo {
        display: block;
        width: 60%;
        padding: 0% 20%;
        margin-bottom: 1%;
    }

    

    footer>.container>.row>div>p {
        color: white;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
    }

    footer>.container>.row>div>p.email {
        line-height: 14px;
        letter-spacing: 1px;
    }

    .social-icon {
        justify-content: end;
        border-bottom: none;
    }

    .social-icon>a {
        display: block;
        width: 11%;
        margin-left: 3%;
    }

    footer>.container>.row>div>.copyright {
        font-size: 8px;
        color: #fafafadf;
        text-align: center;
    }

    // footer>.container>.row>div>p {
    //     color: white;
    //     font-size: 14px;
    //     line-height: 20px;
    // }

    footer>.container>.row>.footer-md-left>p {
        text-align: left;
    }
    footer>.container>.row>.footer-md-right>p {
        text-align: right;
    }

    .copyright-md {
        display: block;
    }

    .copyright-sm {
        display: none;
    }

    .footer-phone-add-md {
        display: block;
    }

    .footer-phone-add-sm {
        display: none;
    }


}

//////////////////////////////////////
// ////////FOOTER MD end//////////////
//////////////////////////////////////



.footer-md-center {
    text-align: center;
}

.footer-md-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}