doctype html
html 
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title 關於Scoopi
        link(rel="icon", href="public/images/scoopi-icon-yellow.ico", type="image/x-icon")
        link(rel="shortcut icon", href="public/images/scoopi-icon-yellow.ico", type="image/x-icon")
        link(rel="stylesheet", href="public/js/WOW-master/css/libs/animate.css")
        link(rel='stylesheet', href='public/css/styles.css')
    body
        header.inner-page
            h1.smheader 
                a(href="index.html")
                    img(src="public/images/scoopi-icon-yellow.png", alt="") 
                    span Scoopi Gelato Shop
            .container
                a(href="index.html").header-logo 
                    img.img-fluid(src="public/images/scoopi-logo-default.png", alt="Scoopi的LOGO")
                a#btn-nav-switch.icon-menu.icon-menu-inner-page(href="javascript:;")
                    .icon-menu-inner
                        img(src="public/images/icon-menu.svg", alt="icon-menu")
                nav#primary-navigation.nav-inner-page 
                    ul
                        li 
                            a(href="about.html")  關於我們
                        li 
                            a(href="product.html") 全部產品
                        li 
                            a(href="news.html") 最新消息
                        li 
                            a(href="contact.html") 聯絡|宅配
                        li 
                            a(href="login.html") 我的會員
        .headerbg
            img.img-fluid(src="public/images/header-innerpage-bg.svg")
        .smheader-height
        main.about
            .about-bg1.wow.fadeInDown
                .container.row
                    .col-12
                        h2 
                            span 關於我們
                    .row.about-outer
                        .col-12.col-md-6.about-inner
                            h3 從挑剔食客到專業職人 
                            p Chris從小喜愛冰淇淋，無論嚴冬酷暑，永遠保以最忠誠真摯的態度面對一球球冰淇淋。
                            p 食冰經驗30年後決定從頭學習、開設一間兼具品質與美味的夢想店面。
                        .col-12.col-md-6.order-md-1
                            img.img-about.img-fluid(src="public/images/pineapple-k.png", alt="")
            .about-bg2.wow.fadeInDown
                .container.row.about-outer
                    .col-12.col-md-6.about-inner.abt-in2
                        h3 Scoopi 發想
                        p 吃冰最幸福的瞬間，莫過於看著它被捲入冰淇淋杓、一球球挖起來的過程。
                        p 因此店名取作Scoopi，期許大家永遠記得這一刻。
                    .col-12.col-md-6
                        img.img-about.img-fluid.img-shadow(src="public/images/cones.png", alt="")
                        .deco-1 
                        .deco-2
                        .deco-3
                        .deco-4 
                        .deco-5 
                        .deco-6
            .about-divlast.wow.fadeInDown
                .container.row
                    .col-12.col-md-12
                        img.about-sm(src="public/images/about-sm.svg", alt="")
                        img.about-md(src="public/images/about-md.svg")
        footer 
            .container 
                .row
                    .col-md-4.col-12.footer-md-left.footer-phone-add-md
                        p (04) 2222-3456
                        p 台中市南區興大路145號
                    .col-md-4.col-12.footer-md-center
                        img.img-fluid.footer-logo(src="public/images/scoopi-logo-white.png", alt="")
                        p.copyright.copyright-md.footer-order-sm-1 Copyright © 2022 Scoopi
                    .col-md-4.col-12.footer-md-right
                        .social-icon
                            a(href="#")
                                img.img-fluid(src="public/images/footer-instagram.png", alt="官方Instagram")
                            a(href="#")
                                img.img-fluid(src="public/images/footer-facebook.png", alt="官方Facebook")
                            a(href="#")
                                img.img-fluid(src="public/images/footer-line.png", alt="官方Line")
                        p.email service@scoopi.com.tw
                        p.footer-phone-add-sm (04) 2222-3456
                        p.footer-phone-add-sm 台中市南區興大路145號
                        p.copyright.copyright-sm.footer-order-sm-1 Copyright © 2022 Scoopi

        script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
        script(src="public/js/WOW-master/dist/wow.min.js")
        script(src="public/js/script.js")
