doctype html
html 
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title 關於Scoopi
        link(rel="icon", href="public/images/scoopi-icon-yellow.ico", type="image/x-icon")
        link(rel="shortcut icon", href="public/images/scoopi-icon-yellow.ico", type="image/x-icon")
        link(rel="stylesheet", href="public/js/WOW-master/css/libs/animate.css")        
        link(rel='stylesheet', href='public/css/styles.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
    body
        header.inner-page
            h1.smheader 
                a(href="index.html")
                    img(src="public/images/scoopi-icon-yellow.png", alt="") 
                    span Scoopi Gelato Shop
            .container
                a(href="index.html").header-logo 
                    img.img-fluid(src="public/images/scoopi-logo-default.png", alt="Scoopi的LOGO")
                a#btn-nav-switch.icon-menu.icon-menu-inner-page(href="javascript:;")
                    .icon-menu-inner
                        img(src="public/images/icon-menu.svg", alt="icon-menu")
                nav#primary-navigation.nav-inner-page 
                    ul
                        li 
                            a(href="about.html")  關於我們
                        li 
                            a(href="product.html") 產品介紹
                        li 
                            a(href="news.html") 最新消息
                        li 
                            a(href="contact.html") 聯絡|宅配
                        li 
                            a(href="login.html") 我的會員
        .headerbg
            img.img-fluid(src="public/images/header-innerpage-bg.svg")
        .smheader-height

        main.news
            h2
                span 最新消息
            .container.row 
                img.construction.img-fluid(src="public/images/construction.jpg")
            .container.row
                .col-12.col-md-4    
                    .news-outer.news-width
                        .news-inner
                            img.news-img.img-fluid(src="public/images/news-banner.jpg", alt="")
                            span.icon-new NEW
                            .news-title 季節限定新品
                                .click-more.icon-arrow 
                                    i.fa-solid.fa-caret-down
                        .news-more
                            p 最新口味推出囉！即日起供應中，歡迎來店品嘗～
                            p 每日供應量依門市為主，當季商品數量有限，想嘗鮮要快唷！
                            p.date 2022.06.30
                .col-12.col-md-4            
                    .news-outer.news-width
                        .news-inner
                            img.news-img.img-fluid(src="public/images/news-summer.jpg", alt="")
                            span.icon-new NEW
                            .news-title 七月週三分享日
                                .click-more.icon-arrow 
                                    i.fa-solid.fa-caret-down
                        .news-more
                            p 七月份限定優惠，每周三全品項冰淇淋第二球半價。趕快邀請好朋友一起來享用吧！
                            p.date 2022.06.20
                .col-12.col-md-4
                    .news-outer.news-width
                        .news-inner
                            img.news-img.img-fluid(src="public/images/news-camp.jpg", alt="")
                            .news-title 【製冰體驗】開始報名
                                .click-more.icon-arrow 
                                    i.fa-solid.fa-caret-down
                        .news-more
                            p 一起做冰淇淋吧！！
                            p 2022年7月1日，舉辦義式冰淇淋製作體驗課程～因要提前備料，請在6/25前提交報名表喔。
                            p 活動詳情請看報名頁面：
                            a.news-link -報名點此-
                            p.date 2022.06.10
                .col-12.col-md-4
                    .news-outer.news-width
                            .news-inner
                                img.news-img.img-fluid(src="public/images/news-summer.jpg", alt="")
                                .news-title 七月週三分享日
                                    .click-more.icon-arrow 
                                        i.fa-solid.fa-caret-down
                            .news-more
                                p 七月份限定優惠，每周三全品項冰淇淋第二球半價。趕快邀請好朋友一起來享用吧！
                                p.date 2022.06.20
                .col-12.col-md-4
                    .news-outer.news-width
                        .news-inner
                            img.news-img.img-fluid(src="public/images/news-camp.jpg", alt="")
                            .news-title 【製冰體驗】開始報名
                                .click-more.icon-arrow 
                                    i.fa-solid.fa-caret-down
                        .news-more
                            p 一起做冰淇淋吧！！
                            p 2022年7月1日，舉辦義式冰淇淋製作體驗課程～因要提前備料，請在6/25前提交報名表喔。
                            p 活動詳情請看報名頁面：
                            a.news-link -報名點此-
                            p.date 2022.06.10
                .col-12.col-md-4           
                    .news-outer.news-width
                        .news-inner
                            img.news-img.img-fluid(src="public/images/news-banner.jpg", alt="")
                            .news-title 季節限定新品
                                .click-more.icon-arrow 
                                    i.fa-solid.fa-caret-down
                        .news-more
                            p 最新口味推出囉！即日起供應中，歡迎來店品嘗～
                            p 每日供應量依門市為主，當季商品數量有限，想嘗鮮要快唷！
                            p.date 2022.06.30


        footer 
            .container 
                .row
                    .col-md-4.col-12.footer-md-left.footer-phone-add-md
                        p (04) 2222-3456
                        p 台中市南區興大路145號
                    .col-md-4.col-12.footer-md-center
                        img.img-fluid.footer-logo(src="public/images/scoopi-logo-white.png", alt="")
                        p.copyright.copyright-md.footer-order-sm-1 Copyright © 2022 Scoopi
                    .col-md-4.col-12.footer-md-right
                        .social-icon
                            a(href="#")
                                img.img-fluid(src="public/images/footer-instagram.png", alt="官方Instagram")
                            a(href="#")
                                img.img-fluid(src="public/images/footer-facebook.png", alt="官方Facebook")
                            a(href="#")
                                img.img-fluid(src="public/images/footer-line.png", alt="官方Line")
                        p.email service@scoopi.com.tw
                        p.footer-phone-add-sm (04) 2222-3456
                        p.footer-phone-add-sm 台中市南區興大路145號
                        p.copyright.copyright-sm.footer-order-sm-1 Copyright © 2022 Scoopi

        script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
        script(src="public/js/WOW-master/dist/wow.min.js")
        script(src="public/js/script.js")
