doctype html
html 
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title 口味集錦
        link(rel="icon", href="public/images/scoopi-icon-yellow.ico", type="image/x-icon")
        link(rel="shortcut icon", href="public/images/scoopi-icon-yellow.ico", type="image/x-icon")
        link(rel="stylesheet", href="public/js/WOW-master/css/libs/animate.css")
        link(rel='stylesheet', href='public/css/styles.css')
    body
        header.inner-page
            h1.smheader 
                a(href="index.html")
                    img(src="public/images/scoopi-icon-yellow.png", alt="") 
                    span Scoopi Gelato Shop
            .container
                a(href="index.html").header-logo 
                    img(src="public/images/scoopi-logo-default.png", alt="Scoopi的LOGO")
                a#btn-nav-switch.icon-menu.icon-menu-inner-page(href="javascript:;")
                    .icon-menu-inner
                        img(src="public/images/icon-menu.svg", alt="icon-menu")
                nav#primary-navigation.nav-inner-page 
                    ul
                        li 
                            a(href="about.html")  關於我們
                        li 
                            a(href="product.html") 產品介紹
                        li 
                            a(href="news.html") 最新消息
                        li 
                            a(href="contact.html") 聯絡|宅配
                        li 
                            a(href="login.html") 我的會員
        .headerbg
            img.img-fluid(src="public/images/header-innerpage-bg.svg")
        .smheader-height
        //- .container.product
        //-     img(src="public/images/product-01.jpg", alt="" width="100%")
        .container.row
            .breadcrumb
                a.breadcrumb-first(href='index.html') 首頁
                span ＞
                a(href='product.html') 產品介紹
                span ＞
                a.breadcrumb.active(href='product.html') 口味集錦
            aside.col-12.col-md-3.col-lg-3
                .sidebar.product-side
                    ul
                        li
                            a.btn-primary(href='#all-flavor') 口味集錦
                    ul
                        li
                            a.btn-primary(href='#newest-flavor') 經典系列
                    ul
                        li
                            a.btn-primary(href='#seasonal') 水果系列
                    ul
                        li
                            a.btn-primary(href='#classic') 特殊口味
            main.col-12.col-md-9.col-lg-9
                .product-flavor
                    h2
                        span 口味集錦
                    .row
                        .col-12.col-md-6.col-lg-4
                            .product-img
                                a.img-wrap(href='#')
                                    .img-overlay
                                        img.img-fluid(src='public/images/f-strawberry.jpg' alt='草莓優格')
                                        //- span.icon-new NEW
                                a.product-title.text-center(href='#') 草莓優格
                            p.product-text.description.text-center 來自悠悠農場的草莓，搭配嚴選ABC優格，莓果香氣十足，酸甜可口。
                        .col-12.col-md-6.col-lg-4
                            .product-img
                                a.img-wrap(href='#')
                                    .img-overlay
                                        img.img-fluid(src='public/images/f-banana.jpg' alt='草莓優格')
                                        //- span.icon-new NEW
                                a.product-title.text-center(href='#') 香草香蕉
                            p.product-text.description.text-center 與在地蕉農合作推出，搭配香草莢迷人香氣，不可不試的香香組合！
                        .col-12.col-md-6.col-lg-4
                            .product-img
                                a.img-wrap(href='#')
                                    .img-overlay
                                        img.img-fluid(src='public/images/f-matcha.jpg' alt='草莓優格')
                                        //- span.icon-new NEW
                                a.product-title.text-center(href='#') 經典抹茶
                            p.product-text.description.text-center 經典款宇治抹茶。降低糖分以突顯抹茶苦中帶甘的風味，並加入適量鮮奶，中和澀味。
                        .col-12.col-md-6.col-lg-4
                            .product-img
                                a.img-wrap(href='#')
                                    .img-overlay
                                        img.img-fluid(src='public/images/f-chocolate.jpg' alt='草莓優格')
                                        //- span.icon-new NEW
                                a.product-title.text-center(href='#') 濃巧克力
                            p.product-text.description.text-center 吃得到柔軟巧克力塊的苦甜巧克力冰淇淋，無論冬季或夏季都是人氣No.1。
                        .col-12.col-md-6.col-lg-4
                            .product-img
                                a.img-wrap(href='#')
                                    .img-overlay
                                        img.img-fluid(src='public/images/f-peanut.jpg' alt='草莓優格')
                                        //- span.icon-new NEW
                                a.product-title.text-center(href='#') 花生
                            p.product-text.description.text-center 帶有濃厚堅果香氣、醇厚滑順的花生口味，吃一球便能補充整日能量。
                        .col-12.col-md-6.col-lg-4
                            .product-img
                                a.img-wrap(href='#')
                                    .img-overlay
                                        img.img-fluid(src='public/images/f-mango.jpg' alt='草莓優格')
                                        //- span.icon-new NEW
                                a.product-title.text-center(href='#') 芒果
                            p.product-text.description.text-center 選用當季甜度高的芒果，冰涼又酸甜的好滋味，讓人欲罷不能。

        footer 
            .container 
                .row
                    .col-md-4.col-12.footer-md-left.footer-phone-add-md
                        p (04) 2222-3456
                        p 台中市南區興大路145號
                    .col-md-4.col-12.footer-md-center
                        img.img-fluid.footer-logo(src="public/images/scoopi-logo-white.png", alt="")
                        p.copyright.copyright-md.footer-order-sm-1 Copyright © 2022 Scoopi
                    .col-md-4.col-12.footer-md-right
                        .social-icon
                            a(href="#")
                                img.img-fluid(src="public/images/footer-instagram.png", alt="官方Instagram")
                            a(href="#")
                                img.img-fluid(src="public/images/footer-facebook.png", alt="官方Facebook")
                            a(href="#")
                                img.img-fluid(src="public/images/footer-line.png", alt="官方Line")
                        p.email service@scoopi.com.tw
                        p.footer-phone-add-sm (04) 2222-3456
                        p.footer-phone-add-sm 台中市南區興大路145號
                        p.copyright.copyright-sm.footer-order-sm-1 Copyright © 2022 Scoopi
        a.page-top(href="javascript:;") TOP
        script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
        script(src="public/js/WOW-master/dist/wow.min.js")
        script(src="public/js/script.js")
        script. 
             //轉軸移動到最上面
            let offsetTop
            let scrollTop = $('main').offset().top
                $(window).scroll(function(){
                    offsetTop = $(window).scrollTop()
                    //- //卷軸高度>=900會出現按鈕
                    if( offsetTop >= 900){
                        $('.page-top').addClass('active')
                    }else{
                        $('.page-top').removeClass('active')
                    }
                })

            $('.page-top').on('click',function(){
                $('html,body').animate({scrollTop:0})
                // console.log('test')
            }) //page-top end